* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
}

body#home-body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

header {
  height: 15vh;
  margin: 2rem 0rem;
  width: 95vw;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div.horizontal-line {
  position: absolute;
  width: 420px;
  height: 1px;
  left: 130px;
  top: 8vh;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  z-index: 2;
}

nav.nav-all {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

nav.nav-all > ul.all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 5rem;
}

nav.nav-all > ul.all > li {
  list-style: none;
  border-bottom: 2px solid rgba(200, 200, 200, 0);
  transition: all 1s ease;
}

nav.nav-all > ul.all > li.active-nav {
  border-bottom: 2px solid #fff;
}

nav.nav-all > ul.all > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
  padding: 1.5rem 0;
  padding-right: 0.2rem;
}

nav.nav-all > ul.all > li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
}

nav.nav-all > ul.all > li > a > span {
  font-weight: 900;
  padding-right: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 75vw;
  height: 60vh;
  margin: 0 auto;
}

section.home-section {
  width: 350px;
}

section.home-section > h2 {
  font-size: 2rem;
  font-weight: 100;
}

section.home-section > h1 {
  font-size: 7rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

section.home-section > p {
  font-size: 1.2rem;
  text-align: justify;
}

aside .home-round {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

aside .home-round::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -2;
  transition: all 0.5s ease;
}

aside .home-round:hover::before {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
  transform: scale(1.5);
}

.home-round p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000000;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/*STYLING FOR DESTINATION PAGE*/

body#destination-body {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

main#destination-main {
  display: flex;
  justify-content: start;
  width: 80vw;
  height: auto;
  margin: 0 auto;
  flex-flow: column nowrap;
  align-items: flex-start;
}

main#destination-main > h1 {
  margin-bottom: 3rem;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
}

main#destination-main > h1 > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

nav.nav-destination {
  width: 70%;
  background-color: rgba(255, 255, 255, 0);
}

nav.nav-destination > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav-destination > ul > li {
  list-style: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 1s ease;
}

nav.nav-destination > ul > li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  mix-blend-mode: normal;
}

nav.nav-destination > ul > li.active-nav {
  list-style: none;
  border-bottom: 2px solid #fff;
}

nav.nav-destination > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 0rem;
}

.hero-img {
  width: 400px;
  height: 400px;
}

.hero-img > img {
  width: 100%;
  height: 100%;
}

aside.destination-aside {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #383b4b;
}

.time-section,
.distance-section {
  display: flex;
  flex-flow: column nowrap;
}

.time-section {
  margin-left: 4rem;
}

.time-section > .time-header > p,
.distance-section > .distance-header > p {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;

  color: #d0d6f9;
}

.distance-section > .distance-value > p,
.time-section > .time-value > p {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}

section.destination-section {
  width: 40%;
}

section.destination-section > h1 {
  font-size: 6rem;
  margin: 1rem 0;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

section.destination-section > article {
  text-align: justify;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

/*STYLING FOR THE CREW PAGES*/

body#crew-body {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

main#crew-main {
  height: calc(100vh - 15vh);
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: flex-start;
}

main#crew-main > div.crew-img {
  height: 100%;
  width: 40%;
  padding-top: 2rem;
}

main#crew-main > div.crew-img > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

section.crew-info-section {
  width: 45%;
}

#crew-main > .crew-info-section > h1 {
  margin-bottom: 4rem;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
}

#crew-main > .crew-info-section > h1 > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

#crew-main > .crew-info-section > article > h3 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#crew-main > .crew-info-section > article > h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1.5rem 0rem;
}

#crew-main > .crew-info-section > article > h2.long-text {
  font-size: 2.5rem;
}

#crew-main > .crew-info-section > article > p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  padding-bottom: 2rem;
}

nav.crew-nav > ul {
  display: flex;
  padding: 2rem 0rem;
}

nav.crew-nav > ul > li {
  list-style: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  margin: 0rem 0.5rem;
}

nav.crew-nav > ul > li > a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav.crew-nav > ul > li > a.active-crew-nav {
  background: #ffffff;
  opacity: 1;
}

nav.crew-nav > ul > li > a:hover {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/*STYLING FOR THE TECHNOLOGY PAGES*/

body#tech-body {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body#tech-body > main#tech-main {
  height: 75vh;
  width: 85vw;
  padding-bottom: 2rem;
  display: flex;
  margin-right: 0rem;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

body#tech-body > main#tech-main > h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
}

body#tech-body > main#tech-main > h1 > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

body#tech-body > main#tech-main > section.tech-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

body#tech-body > main#tech-main > section.tech-section > div.space-img {
  width: 35%;
  order: 2;
  height: 90%;
}

body#tech-body > main#tech-main > section.tech-section > div.space-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body#tech-body > main#tech-main > section.tech-section > div.space-info {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.space-info > article {
  width: 75%;
  align-self: center;
}

nav.space-nav > ul > li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  list-style: none;
  position: relative;
  margin-top: 2rem;
}

nav.space-nav > ul > li > a.active-tech-nav {
  background: #ffffff;
  color: #0b0d17;
}

nav.space-nav > ul > li > a:hover {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

nav.space-nav > ul > li > a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

div.space-info > article > h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

div.space-info > article > h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 64px;
  color: #ffffff;
  padding: 1rem 0rem;
}

div.space-info > article > p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}
